body {
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	margin: 0;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	color:#212529;
	text-align:left;
	background-color:#fff;
	height:100%;
}

header {
	background: #343a40;
	padding: 8px 10px;
	color: #fff;
}

header a {
	color: #fff;
	text-decoration: none;
}

.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-telegram {
	background: #1d98dc;
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	padding: 4px 10px;
	border-radius: .25rem;
}

.btn-telegram:hover {
	background: #0e8ed4;
}

h1 {
	margin: 0;
	font-size: 1.6rem;
	font-weight: normal;
}

h2 {
	margin: 0;
	font-size: 1.3rem;
	font-weight: normal;
}

h3 {
	margin: 0;
	font-size: 1.15rem;
}

ul {
	margin: 0;
}

.navigation {
	margin-bottom: 1rem;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.section-nav {
	margin-bottom: 1rem;
}

.product-item {
	display: inline-block;
	border: 1px solid;
	padding: 3px 5px;
	margin-bottom: 10px;
}

.wrap-info {
	display: flex;
	flex-direction: column;
}

.wrap-info-img {
	display: flex;
	align-items: center;
}

.wrap-img img {
	width: 100%;
	max-width: 70px;
	margin-right: 10px;
}

p {
	margin: 0;
}

.map-img {
	width: 100%;
}

footer {
	background: #343a40;
	padding: 8px 10px;
	color: #fff;
}